.contact-title {
     margin-top: 40px;
    font-size: 60px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: white;
    text-align: center;
}

.contact-section {
    margin-top: 43px;
    margin-bottom: 61px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 14px 22px;
    width: fit-content;

    background: #111;
    border: 1px solid #333;
    border-radius: 14px;

    font-family: 'Poppins', sans-serif;
    color: white;

    transition: all 0.3s ease;
}


.contact-item i {
    font-size: 20px;
    color: rgb(0, 157, 255);
}


.contact-item p {
    margin: 0;
    font-size: 14px;
    color: hsla(250, 69%, 72%, 0.467);
}



.contact-item span {
    font-weight: 600;
    color: rgba(91, 196, 228, 0.941);
    margin-right: 5px;
}

.contact-item a {
    color: rgba(91, 196, 228, 0.941);
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}


.contact-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 33px rgba(0, 198, 255, 0.5);
    border-color: rgb(0, 157, 255);
}


@media (max-width: 600px) {
    .contact-item {
        font-size: 14px;
        padding: 13px 19px;
    }

    .contact-item i {
        font-size: 18px;
    }
}
