body {
    margin: 0;
    padding: 0;
    text-align: center;  
}
.namaste-container {
    margin-top: 80px;     
    text-align: center;
    font-size: 71px;
    font-weight: 800;
    font-family: Poppins;
}

.introduction {
    display: inline-block;
    font-family: Poppins;
    font-size: 15px;
    max-width: 1140px;   
    width: 85%;          

    margin-top: 40px;
    padding: 10px;

    border: 4px solid gray;
    border-radius: 10px;
    background-color: rgb(143, 146, 150);

}

