.navbar {
    position: sticky;
    top: 0;
    z-index: 100;

    background: rgba(0, 0, 0, 0.9);
    padding: 12px 0;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-btn {
    padding: 12px 22px;
    font-size: 13px;
    font-weight: 600;
    font-family: Poppins;

    color: white;
    text-decoration: none;

    border-radius: 22px;
    border: 1px solid #00fbff;

    background: transparent;
    cursor: pointer;

    transition: all 0.3s ease;
}

/* GLOW EFFECT */
.nav-btn:hover {
    background: #00fbff;
    color: black;
    box-shadow: 0 0 20px #00fbff;
}
html {
    scroll-behavior: smooth;
}

/* Push sections down when scrolled to */
#home,
#introduction,
#skills,
#projects,
#contact {
    scroll-margin-top: 120px;
}

