.projects-title {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: white;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 43px;
    flex-wrap: wrap;
}
.project-card {
    width: 300px;
    padding: 23px;

    border-radius: 16px;
    background: hsla(0, 0%, 0%, 0);                 
    border: 1px solid #333;           

    text-align: left;
    color: white;
    font-family: Poppins, sans-serif;

    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 36px rgba(238, 255, 0, 0.908);
}
.project-tag {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 12px;

    font-size: 12px;
    font-weight: 600;

    border-radius: 12px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.project-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: white;
}

.project-desc {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
}

