.skills-title {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: white;
    text-align: center;
}

.skills-container {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    font-size: 82px;
}
.skills-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}
.skill-box {
    min-width: 147px;
    padding: 17px 24px;

    font-size: 22px;
    font-weight: 700;
    font-family: Poppins, sans-serif;

    color: white;
    border-radius: 14px;
    background: linear-gradient(135deg, #f96688, #ff0000);

    box-shadow: 0 6px 16px rgba(255, 0, 187, 0.45);
    cursor: pointer;
    transition: all 2s ease;
    transform-origin: center;
    animation: rotateOnLoad 1.2s ease forwards;
}
.skill-box:hover {
    transform: translateY(-6px) rotate(5deg);
    box-shadow: 0 12px 30px #ff06d1bf;
}
.skill-box:nth-child(1) { animation-delay: 0.1s; }
.skill-box:nth-child(2) { animation-delay: 0.25s; }
.skill-box:nth-child(3) { animation-delay: 0.4s; }
.skill-box:nth-child(4) { animation-delay: 0.55s; }
.skill-box {
    will-change: transform;
}
@keyframes rotateOnLoad {
    0% {
        transform: rotate(0deg) scale(0.7);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}
